# Credit Risk Assessment: Data Wrangling Pipeline

---

### Import Libraries and set Configurations

In [3]:
import os
import warnings
from pathlib import Path
import joblib
import numpy as np
import pandas as pd
import json
from datetime import date

pd.set_option("display.max_columns", 200)
warnings.filterwarnings("ignore")

random_state = 42
missing_threshold = .05
data_filepath = Path("../data/raw/accepted_2007_to_2018Q4.csv") 
models_path = Path("../models")
processed = Path("../data/processed")

### Import Dataset

In [4]:
df = pd.read_csv(data_filepath, low_memory=False).sort_values("issue_d").reset_index(drop=True)
print(f"DatasetLoaded: {data_filepath.name}")
print("Raw Shape:", df.shape)
display(df.head())

DatasetLoaded: accepted_2007_to_2018Q4.csv
Raw Shape: (2260701, 151)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,325232,NaN,9000.0,9000.0,3884.559321,36 months,9.76,289.40,B,B2,El Monte City School District,9 years,MORTGAGE,65332.0,Not Verified,Apr-2008,Does not meet the credit policy. Status:Fully ...,n,https://lendingclub.com/browse/loanDetail.acti...,I made a HUGE payment on my loan for this cred...,vacation,Worldmark the (Steal Your Money) Club,917xx,CA,17.12,0.0,Oct-1995,725.0,729.0,4.0,67.0,NaN,16.0,0.0,44248.0,22.8,41.0,f,0.0,0.0,10435.051642,4361.85,8999.99,1420.06,15.0,0.0,0.0,Apr-2011,291.58,May-2011,Apr-2011,649.0,645.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,313864,NaN,12000.0,12000.0,50.340000,36 months,12.61,402.08,D,D1,Save-A-Lot,4 years,MORTGAGE,50268.0,Not Verified,Apr-2008,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Help me get my life back! I have a full-tim...,debt_consolidation,Consolidate High Interest Credit Card,490xx,MI,10.12,0.0,Dec-1983,670.0,674.0,0.0,NaN,105.0,12.0,1.0,16083.0,70.2,31.0,f,0.0,0.0,14462.254805,53.60,12000.00,2462.26,0.0,0.0,0.0,Feb-2011,1194.22,NaN,Aug-2018,664.0,660.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,320438,NaN,5925.0,5925.0,1250.001715,36 months,11.97,196.71,C,C4,The Law Center,4 years,MORTGAGE,88000.0,Not Verified,Apr-2008,Does not meet the credit policy. Status:Charge...,n,https://lendingclub.com/browse/loanDetail.acti...,Consolidating high interest credit cards (2). ...,debt_consolidation,Consolidate high interest credit cards,537xx,WI,20.84,0.0,Jan-1994,685.0,689.0,17.0,NaN,100.0,17.0,1.0,44040.0,83.3,57.0,f,0.0,0.0,3147.360000,664.00,2374.37,772.99,0.0,0.0,0.0,Aug-2009,196.71,Jan-2010,Jul-2018,504.0,500.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,333591,NaN,7500.0,5500.0,815.808515,36 months,10.08,177.68,B,B3,Thales Avionics,3 years,MORTGAGE,145000.0,Not Verified,Apr-2008,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Wife needs dental implants and crowns that are...,medical,Medical expenses,982xx,WA,5.53,0.0,Nov-1992,705.0,709.0,2.0,42.0,NaN,14.0,0.0,26681.0,41.4,42.0,f,0.0,0.0,6396.322278,840.09,5500.00,896.32,0.0,0.0,0.0,Apr-2011,177.89,NaN,Jun-2018,634.0,630.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,315794,NaN,7000.0,4700.0,531.107966,36 months,9.76,151.13,B,B2,Fidelity National Financial,2 years,OWN,44000.0,Not Verified,Apr-2008,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,That's right - I'd rather pay YOU than the ban...,debt_consolidation,You are better than the bank!,327xx,FL,18.38,0.0,Mar-1996,720.0,724.0,1.0,NaN,NaN,8.0,0.0,8504.0,25.0,11.0,f,0.0,0.0,5440.535187,544.20,4699.99,740.54,0.0,0.0,0.0,Apr-2011,151.94,NaN,Oct-2016,549.0,545.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df[df["id"].notna()].copy() #drops rows like the footer with no id data

bad_status = {"Charged Off", "Default", "Does not meet the credit policy. Status:Charged Off",
              "Late (31-120 days)", "Late (16-30 days)", "In Grace Period"}
good_status = {"Fully Paid","Does not meet the credit policy. Status:Fully Paid"}
df = df[df["loan_status"].isin(bad_status | good_status)].copy()
df["default"] = df["loan_status"].isin(bad_status).astype(int)
print("After mapping loan_status to default:\n", df.shape)
print("Class distribution:\n", df["default"].value_counts(normalize=True))
class_ratio = df["default"].value_counts(normalize=True).min() / df["default"].value_counts(normalize=True).max()

After mapping loan_status to default:
 (1382351, 152)
Class distribution:
 default
0    0.780365
1    0.219635
Name: proportion, dtype: float64

### Datetime Conversion

In [6]:
date_cols = ["issue_d","earliest_cr_line","last_pymnt_d","next_pymnt_d",
                 "last_credit_pull_d","final_pymnt_d"]
for col in set(date_cols) & set(df.columns):
    df[col] = pd.to_datetime(df[col], format="%b-%Y", errors="coerce")

### EDA

In [7]:
print("Column count:", len(df.columns))
display(df.info(memory_usage="deep"))

Column count: 152
<class 'pandas.core.frame.DataFrame'>
Index: 1382351 entries, 0 to 2260650
Columns: 152 entries, id to default
dtypes: datetime64[ns](5), float64(113), int64(1), object(33)
memory usage: 3.3 GB

None

In [8]:
#Check for null values
df.isnull().sum()

id                             0
member_id                1382351
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
                          ...
settlement_date          1348133
settlement_amount        1348133
settlement_percentage    1348133
settlement_term          1348133
default                        0
Length: 152, dtype: int64

In [9]:
#Check for duplicates
df.duplicated().sum()

0

In [10]:
#Descriptive statistics
df.describe().T

,count,mean,min,25%,50%,75%,max,std
member_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_amnt,1382351.0,14477.704776,500.0,8000.0,12000.0,20000.0,40000.0,8753.375197
funded_amnt,1382351.0,14469.11121,500.0,8000.0,12000.0,20000.0,40000.0,8749.667152
funded_amnt_inv,1382351.0,14442.02215,0.0,7950.0,12000.0,20000.0,40000.0,8755.722826
int_rate,1382351.0,13.299137,5.31,9.75,12.79,16.02,30.99,4.79338
...,...,...,...,...,...,...,...,...
hardship_last_payment_amount,8004.0,193.600027,0.01,46.25,132.08,281.265,1407.86,197.940829
settlement_amount,34218.0,5010.126248,44.21,2208.0,4147.0,6850.1725,33601.0,3690.532108
settlement_percentage,34218.0,47.77095,0.2,45.0,45.0,50.0,521.35,7.304528
settlement_term,34218.0,13.191712,0.0,6.0,14.0,18.0,181.0,8.162197
default,1382351.0,0.219635,0.0,0.0,0.0,0.0,1.0,0.413999

In [11]:
print("Numerical columns:")
df.describe(include=[np.number])

Numerical columns:

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term,default
count,0.0,1.382351e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382347e+06,1.381939e+06,1.382322e+06,1.382351e+06,1.382351e+06,1.382321e+06,686489.000000,235619.000000,1.382322e+06,1.382322e+06,1.382351e+06,1.381416e+06,1.382322e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382351e+06,1.382206e+06,364175.000000,1382351.0,2.958400e+04,29581.000000,1.382322e+06,1.312075e+06,1.312075e+06,569195.000000,569196.000000,569196.000000,569196.000000,553845.000000,5.691960e+05,491955.000000,569196.000000,569196.000000,569196.000000,569137.000000,1.312075e+06,569196.000000,569195.000000,569195.000000,1.332321e+06,1.312052e+06,1.317980e+06,1.317190e+06,1.382206e+06,1.382322e+06,1.272839e+06,1.312074e+06,1.312074e+06,1.312075e+06,1.332321e+06,1.318939e+06,327833.000000,1.202588e+06,462405.000000,1.312075e+06,1.312075e+06,1.312075e+06,1.323761e+06,1.312075e+06,1.312075e+06,1.312075e+06,1.312074e+06,1.312075e+06,1.323761e+06,1.260121e+06,1.312075e+06,1.312075e+06,1.312075e+06,1.311921e+06,1.317566e+06,1.380986e+06,1.382246e+06,1.312075e+06,1.332321e+06,1.332321e+06,1.312075e+06,22091.000000,22092.000000,22092.000000,22092.000000,22092.000000,22092.000000,21697.000000,22092.000000,22092.000000,22092.000000,22092.000000,8103.000000,8004.0,8004.000000,8004.0,8004.000000,5819.000000,8004.000000,8004.000000,34218.000000,34218.000000,34218.000000,1.382351e+06
mean,NaN,1.447770e+04,1.446911e+04,1.444202e+04,1.329914e+01,4.394854e+02,7.629012e+04,1.832105e+01,3.190769e-01,6.960639e+02,7.000640e+02,6.608718e-01,34.268517,70.512866,1.159196e+01,2.154115e-01,1.625139e+04,5.178038e+01,2.493117e+01,2.782387e+02,2.781766e+02,1.467812e+04,1.465013e+04,1.201745e+04,2.423437e+03,1.935405e+00,2.352969e+02,3.922059e+01,5.295305e+03,6.758941e+02,6.587925e+02,1.728179e-02,43.698282,1.0,1.176054e+05,19.072656,5.013304e-03,2.489284e+02,1.409653e+05,1.050115,2.791097,0.774206,1.739475,19.632612,3.590755e+04,71.400154,1.421993,3.008776,5522.336469,58.244166,3.275134e+04,1.099403,1.603240,2.316401,4.700781e+00,1.346677e+04,1.017386e+04,5.988931e+01,9.084753e-03,1.489811e+01,1.257171e+02,1.812160e+02,1.311765e+01,7.851641e+00,1.660287e+00,2.379126e+01,39.603060,6.705471e+00,35.779836,5.111042e-01,3.645206e+00,5.647714e+00,4.735654e+00,8.076892e+00,8.564520e+00,8.277768e+00,1.457428e+01,5.595910e+00,1.163831e+01,8.062718e-04,3.410628e-03,8.904369e-02,2.182118e+00,9.413540e+01,4.509364e+01,1.346733e-01,5.227072e-02,1.741956e+05,4.974383e+04,2.160622e+04,4.223848e+04,31703.620841,663.593382,667.593382,0.776752,1.599448,11.346506,58.103646,2.984700,12.726734,0.058437,0.093473,35.889547,3.0,154.683862,3.0,14.563218,447.797658,11451.260224,193.600027,5010.126248,47.770950,13.191712,2.196345e-01
std,NaN,8.753375e+03,8.749667e+03,8.755723e+03,4.793380e+00,2.624043e+02,7.027046e+04,1.135280e+01,8.807820e-01,3.179170e+01,3.179235e+01,9.580108e-01,21.918439,26.764857,5.485779e+00,6.035498e-01,2.243732e+04,2.454274e+01,1.201148e+01,2.193449e+03,2.193080e+03,1.033323e+04,1.033405e+04,8.850332e+03,2.627677e+03,1.327177e+01,9.454588e+02,1.660236e+02,7.067368e+03,8.149006e+01,1.326232e+02,1.474622e-01,21.383345,0.0,5.994322e+04,7.751953,7.683765e-02,1.092307e+04,1.574962e+05,1.208985,2.991421,0.991817,1.685221,24.962898,4.301669e+04,22.943929,1.576555,2.707357,5502.441040,20.936934,3.650918e+04,1.591812,2.822298,2.545422,3.193862e+00,1.627653e+04,1.532697e+04,2.831277e+01,1.097440e-01,8.107739e+02,5.236248e+01,9.465280e+01,1.636668e+01,8.732594e+00,1.994120e+00,3.075182e+01,22.691118,5.848169e+00,22.419312,1.328618e+00,2.253856e+00,3.311190e+00,2.958337e+00,4.796039e+00,7.394585e+00,4.566959e+00,8.117810e+00,3.223501e+00,5.493506e+00,3.022497e-02,6.223389e-02,5.049843e-01,1.848372e+00,8.782184e+00,3.602588e+01,3.780388e-01,4.009351e-01,1.779436e+05,4.783516e+04,2.153727e+04,4.334650e+04,26856.575714,45.655247,45.655247,1.115586,1.812277,6.555801,26.338471,3.252204,8.286491,0.453613,0.435406,23.978026,0.0,132.295927,0.0,9.425249,383.263483,7654.985578,197.940829,3690.532108,7.304528,8.162197,4.139992e-01
min,NaN,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,6.100000e+02,6.140000e+02,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-5.100000e-09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,1.0,9.000000e+03,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,540.000000,544.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,0.640000,3.0,0.000000,1.920000,55.730000,0.010000,44.210000,0.200000,0.000000,0.000000e+00
25%,NaN,8.000000e+03,8.000000e+03,7.950000e+03,9.750000e+00,2.491800e+02,4.576000e+04,1.180000e+01,0.000000e+00,6.700000e+02,6.740000e+02,0.000000e+00,16.000000,53.000000,8.000000e+00,0.000000e+00,5.925000e+03,3.340000e+01,1.600000e+01,0.000000e+00,0.000000e+00,6.720824e+03,6.696235e+03,5.000000e+03,7.725250e+02,0.000000e+00,0.000000e+00,0.000000e+00,3.894400e+02,6.240000e+02,6.200000e+02,0.000000e+00,27.000000,1.0,8.000000e+04,13.440000,0.000000e+00,0.000000e+00,2.936200e+04,0.000000,1.000000,0.000000,1.000000,6.000000,9.583000e+03,58.000000,0.000000,1.000000,2170.000000,44.000000,1.400000e+04,0.000000,0.000000,1.000000,2.000000e+00,3.095000e+03,1.468000e+03,3.820000e+01,0.000000e+00,0.000000e+00,9.700000e+01,1.170000e+02,4.000000e+00,3.000000e+00,0.000000e+00,6.000000e+00,21.000000,2.000000e+00,17.000000,0.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,5.000000e+00,4.000000e+00,5.000000e+00,9.000000e+00,3.000000e+00,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,9.130000e+01,1.000000e+01,0.000000e+00,0.000000e+00,4.956200e+04,2.089000e+04,7.800000e+03,1.478400e+04,13926.500000,635.000000,639.000000,0.000000,0.000000,7.000000,38.900000,1.000000,7.000000,0.000000,0.000000,14.000000,3.0,56.565000,3.0,7.000000,163.650000,5339.362500,46.250000,2208.000000,45.000000,6.000000,0.000000e+00
50%,NaN,1.200000e+04,1.200000e+04,1.200000e+04,1.279000e+01,3.755400e+02,6.500000e+04,1.763000e+01,0.000000e+00,6.900000e+02,6.940000e+02,0.000000e+00,31.000000,72.000000,1.100000e+01,0.000000e+00,1.111900e+04,5.210000e+01,2.300000e+01,0.000000e+00,0.000000e+00,1.199739e+04,1.197250e+04,1.000000e+04,1.581840e+03,0.000000e+00,0.000000e+00,0.000000e+00,1.805590e+03,6.890000e+02,6.850000e+02,0.000000e+00,44.000000,1.0,1.066000e+05,18.690000,0.000000e+00,0.000000e+00,7.976900e+04,1.000000,2.000000,1.000000,1.000000,12.000000,2.406700e+04,74.000000,1.000000,2.000000,4187.000000,60.000000,2.410000e+04,1.000000,0.000000,2.000000,4.000000e+00,7.376000e+03,4.702000e+03,6.310000e+01,0.000000e+00,0.000000e+00,1.290000e+02,1.640000e+02,8.000000e+00,5.000000e+00,1.000000e+00,1.300000e+01,38.000000,5.000000e+00,33.000000,0.000000e+00,3.000000e+00,5.000000e+00,4.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,1.300000e+01,5.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,9.790000e+01,4.290000e+01,0.000000e+00,0.000000e+00,1.119620e+05,3.733800e+04,1.510000e+04,3.175800e+04,24790.000000,665.000000,669.000000,0.000000,1.000000,10.000000,60.400000,2.000000,11.000000,0.000000,0.000000,34.000000,3.0,115.820000,3.0,16.000000,338.790000,9742.250000,132.080000,4147.000000,45.000000,14.000000,0.000000e+00
75%,NaN,2.000000e+04,2.000000e+04,2.000000e+04,1.602000e+01,5.826200e+02,9.000000e+04,2.409000e+01,0.000000e+00,7.100000e+02,7.140000e+02,1.000000e+00,50.000000,90.000000,1.400000e+01,0.000000e+00,1.974000e+04,7.070000e+01,3.200000e+01,0.000000e+00,0.000000e+00,2.037761e+04,2.034854e+04,1.700000e+04,3.063695e+03,0.000000e+00,0.000000e+00,0.000000e+00,8.029940e+03,7.340000e+02,7.300000e+02,0.000000e+00,61.000000,1.0,1.400000e+05,24.390000,0.000000e+00,0.000000e+00,2.105000e+05,2.000000,3.000000,1.000000,2.000000,22.000000,4.676000e+04,87.000000,2.000000,4.000000,7175.000000,73.000000,4.060000e+04,2.000000,2.000000,3.000000,6.000000e+00,1.868300e+04,1.237400e+04,8.480000e+01,0.000000e+00,0.000000e+00,1.520000e+02,2.300000e+02,1.600000e+01,1.000000e+01,3.000000e+00,2.800000e+01,58.000000,1.000000e+01,52.000000,0.000000e+00,5.000000e+00,7.000000e+00,6.000000e+00,1.000000e+01,1.100000e+01,1.000000e+01,1.900000e+01,7.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,1.000000e+02,7.500000e+01,0.000000e+00,0.000000e+00,2.518460e+05,6.265100e+04,2.807700e+04,5.678700e+04,41110.500000,690.000000,694.000000,1.000000,3.000000,15.000000,79.100000,4.000000,17.000000,0.000000,0.000000,56.000000,3.0,215.372500,3.0,23.000000,615.405000,16013.615000,281.265000,6850.172500,50.000000,18.000000,0.000000e+00
max,NaN,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.099920e+07,9.990000e+02,3.900000e+01,8.450000e+02,8.500000e+02,3.300000e+01,226.000000,129.000000,9.000000e+01,8.600000e+01,2.904836e+06,8.923000e+02,1.760000e+02,4.000000e+04,4.000000e+04,6.329688e+04,6.329688e+04,4.000000e+04,2.819250e+04,1.484340e+03,3.985955e+04,7.174719e+03,4.219205e+04,8.500000e+02,8.450000e+02,2.000000e+01,226.000000,1.0,1.837000e+06,69.490000,1.400000e+01,9.152545e+06,8.000078e+06,18.000000,57.000000,25.000000,51.000000,511.000000,1.711009e+06,558.000000,28.000000,53.000000,776843.000000,204.000000,9.999999e+06,48.000000,79.000000,67.000000,6.400000e+01,9.580840e+05,5.599120e+05,3.396000e+02,1.000000e+01,2.499250e+05,9.990000e+02,8.520000e+02,4.380000e+02,3.140000e+02,5.100000e+01,6.390000e+02,202.000000,2.500000e+01,202.000000,5.100000e+01,3.500000e+01,6.300000e+01,6.300000e+01,7.000000e+01,1.590000e+02,8.300000e+01,1.280000e+02,4.500000e+01,9.000000e+01,6.000000e+00,4.000000e+00,3.900000e+01,3.200000e+01,1.000000e+02,1.000000e+02,1.200000e+01,8.500000e+01,9.999999e+06,3.408095e+06,1.105500e+06,2.101913e+06,357135.000000,840.000000,844.000000,6.000000,18.000000,82.000000,235.300000,39.000000,92.000000,20.000000,16.000000,132.000000,3.0,943.940000,3.0,37.000000,2679.150000,39542.450000,1407.860000,33601.000000,521.350000,181.000000,1.000000e+00

In [12]:
#Check for object columns
print("Object columns:")
df.describe(include=["object"]).T

Object columns:

,count,unique,top,freq
id,1382351,1382351,325232,1
term,1382351,2,36 months,1043059
grade,1382351,7,B,400654
sub_grade,1382351,35,C1,87840
emp_title,1293206,385454,Teacher,21799
emp_length,1300914,11,10+ years,453281
home_ownership,1382351,6,MORTGAGE,682142
verification_status,1382351,3,Source Verified,536031
loan_status,1382351,8,Fully Paid,1076751
pymnt_plan,1382351,2,n,1381734
url,1382351,1382351,https://lendingclub.com/browse/loanDetail.acti...,1
desc,125974,124415,,251
purpose,1382351,14,debt_consolidation,801437
title,1365236,63153,Debt consolidation,680685
zip_code,1382350,946,945xx,15343
addr_state,1382351,51,CA,201525
initial_list_status,1382351,2,w,810885
application_type,1382351,2,Individual,1352767
verification_status_joint,29328,3,Not Verified,16471
sec_app_earliest_cr_line,22092,585,Aug-2006,227
hardship_flag,1382351,2,N,1381523
hardship_type,8004,1,INTEREST ONLY-3 MONTHS DEFERRAL,8004
hardship_reason,8004,9,NATURAL_DISASTER,1807
hardship_status,8004,3,COMPLETED,4991
hardship_start_date,8004,27,Sep-2017,1638
hardship_end_date,8004,28,Dec-2017,1211
payment_plan_start_date,8004,27,Oct-2017,1173
hardship_loan_status,8004,5,Late (16-30 days),3747
disbursement_method,1382351,2,Cash,1374460
debt_settlement_flag,1382351,2,N,1348133
debt_settlement_flag_date,34218,83,Feb-2019,2604
settlement_status,34218,3,ACTIVE,14677
settlement_date,34218,90,Jan-2019,1707

### Temporal Split

In [13]:
cutoff_train = pd.Timestamp("2016-12-31")
cutoff_val = pd.Timestamp("2017-12-31")
train_mask = df["issue_d"] <= cutoff_train
val_mask = (df["issue_d"] > cutoff_train) & (df["issue_d"] <= cutoff_val)
test_mask = df["issue_d"] > cutoff_val
print("Train shape:", df[train_mask].shape)
print("Validation shape:", df[val_mask].shape)
print("Test shape:", df[test_mask].shape)

Train shape: (1132562, 152)
Validation shape: (181728, 152)
Test shape: (68061, 152)

### Data Cleaning

In [14]:
#Drop columns that are irrelevant to the model or result in high leakage
drop_exact = [
    "loan_status","pymnt_plan","member_id","id","url",
    "addr_state","zip_code","emp_title","title","desc"
]
drop_prefix = [
    "last_",                 
    "out_prncp",             
    "total_rec_",            
    "total_pymnt",           
    "recoveries",
    "collection_recovery_fee",
    "funded_amnt_inv",       
    "hardship_",             
    "debt_settlement_",      
    "settlement_"            
]
leak_cols = set(drop_exact)
for p in drop_prefix:
    leak_cols |= {c for c in df.columns if c.startswith(p)}
df.drop(columns=leak_cols & set(df.columns), inplace=True)

print(f"New shape is: {df.shape}")

New shape is: (1382351, 108)

### Convert Percent Strings

In [15]:
pct_cols = ["int_rate", "revol_util"]
for col in pct_cols:
    if col in df.columns:
        df[col]=pd.to_numeric(df[col].astype(str).str.rstrip("%"),errors="coerce")/100

### Log Transform

In [16]:
for c in ("loan_amnt","annual_inc","revol_bal"):
    if c in df.columns:
        df[c] = np.log1p(df[c])

### Missing Flag

In [17]:
for col in df.columns.difference(["default"]):
    if df.loc[train_mask, col].isna().mean() > missing_threshold:
        df[f"{col}_missing"] = df[col].isna().astype("int8")

print(f"New shape is: {df.shape}")

New shape is: (1382351, 178)

### Imputation, Encoding, Missing Flags

In [ ]:
num_cols = df.select_dtypes(include=[np.number]).columns.difference(['default'])
cat_cols = df.select_dtypes("object").columns.tolist()

df[num_cols] = df[num_cols].astype(np.float32)
df[num_cols] = df[num_cols].fillna(df.loc[train_mask, num_cols].median())

for c in cat_cols:
    mode_val = (df.loc[train_mask, c].mode(dropna=True).iat[0] if not df.loc[train_mask, c]
                                   .mode(dropna=True).empty else "Missing")
    df[c] = df[c].fillna(mode_val)
    df[c] = df[c].astype("category")
    extra = [x for x in ("Missing", "Other") if x not in df[c].cat.categories]
    if extra:
        df[c] = df[c].cat.add_categories(extra)
    cutoff = max(10, 0.001 * train_mask.sum())
    rare = (df.loc[train_mask, c]
            .value_counts()[lambda s: s < cutoff]
            .index.difference(["Missing","Other"]))
    df.loc[df[c].isin(rare), c] = "Other"
    df[c] = df[c].cat.remove_unused_categories()

print("shape:", df.shape)

shape: (1382351, 178)

### Feature Engineering

In [ ]:
if {"issue_d","earliest_cr_line"} <= set(df.columns):
    df["credit_age_months"] = (
        (df["issue_d"] - df["earliest_cr_line"]).dt.days // 30)

if {"loan_amnt","annual_inc"} <= set(df.columns):
    df["loan_to_income"] = df["loan_amnt"] / (df["annual_inc"] + 1)

if {"installment","annual_inc"} <= set(df.columns):
    df["installment_to_income"] = df["installment"] / (df["annual_inc"] + 1)

if {"fico_range_low", "fico_range_high"} <= set(df.columns):
    df["fico_mid"] = (df["fico_range_low"] + df["fico_range_high"]) / 2
    df["fico_spread"] = df["fico_range_high"] - df["fico_range_low"]
    df.drop(columns=["fico_range_low", "fico_range_high"], inplace=True)

if {"revol_bal", "total_rev_hi_lim"} <= set(df.columns):
    df["rev_util_ratio"] = df["revol_bal"] / (df["total_rev_hi_lim"] + 1)

if "dti" in df.columns:
    df["dti_inv"] = 1 / (df["dti"] + 1e-3)

if {"inq_last_12m", "open_acc"} <= set(df.columns):
    df["inq_ratio"] = df["inq_last_12m"] / (df["open_acc"] + 1)

if {"int_rate", "sub_grade"} <= set(df.columns):
    sg_mean = df.loc[train_mask].groupby("sub_grade")["int_rate"].transform("mean")
    df["int_minus_subgrade_mean"] = df["int_rate"] - sg_mean

if {"grade","term"}<=set(df.columns):
    df["grade_term"] = df["grade"].astype(str)+"_"+df["term"].astype(str)
    df["grade_term"]= df["grade_term"].astype("category")

if {"purpose","emp_length"}<=set(df.columns):
    df["purpose_emp_len"] = df["purpose"].astype(str)+"_"+df["emp_length"].astype(str)
    df["purpose_emp_len"] = df["purpose_emp_len"].astype("category")

if "fico_mid" in df.columns:
    df["fico_mid_sq"] = df["fico_mid"] ** 2

if "loan_amnt" in df.columns:
    df["log_loan_sq"] = (df["loan_amnt"]) ** 2

for fld in ["policy_code","initial_list_status"]:
    if fld in df and df[fld].dtype=="object":
        df[fld] = df[fld].astype("category")
        if fld not in cat_cols: cat_cols.append(fld)        

print("Features Engineered")
print("New shape is:", df.shape)

Features Engineered
New shape is: (1382351, 189)

### Drop Constant Columns

In [20]:
constant_cols = [c for c in df.columns if df[c].nunique(dropna=False) == 1]
if constant_cols:
    print("dropping constant features:", constant_cols)
    df.drop(columns=constant_cols, inplace=True)

print("New shape is:", df.shape)

dropping constant features: ['policy_code', 'deferral_term']
New shape is: (1382351, 187)

### Save Cleaned/Engineered Data

In [21]:
df.to_parquet("../data/processed/lc_cleaned.parquet")

schema = {
    "numeric": sorted(df.select_dtypes(include=[np.number]).columns.difference(["default"])),
    "categorical": sorted(df.select_dtypes("category").columns),
    "target": "default",
    "date_split_col": "issue_d"
}
json.dump(schema, open("../data/processed/feature_schema.json","w"), indent=2)

def save_split(mask, name):
    X, y = df.loc[mask].drop("default",axis=1), df.loc[mask,"default"]
    X.to_pickle(f"../data/processed/X_{name}.pkl")
    y.to_csv (f"../data/processed/y_{name}.csv", index=False)
for msk,name in [(train_mask,"train"),(val_mask,"val"),(test_mask,"test")]:
    save_split(msk,name)
print("Pre processing complete  data written to", "../data/processed/")

Pre processing complete  data written to ../data/processed/

In [25]:
df = pd.read_parquet(processed / "lc_cleaned.parquet")
schema = json.load(open(processed / "feature_schema.json"))
X_train= pd.read_pickle(processed / "X_train.pkl")
X_val = pd.read_pickle(processed / "X_val.pkl")
X_test = pd.read_pickle(processed / "X_test.pkl")
y_train= pd.read_csv(processed / "y_train.csv")["default"]

train_rows = len(X_train)
na_thr = 0.05
rare_min = max(10, int(0.001 * train_rows))
imb_ratio = round((y_train == 0).sum() / (y_train == 1).sum(), 2)

readme = f"""\
# Lending Club  Data Preprocessing Pipeline

_Generated **{date.today()}**_

---

## 1  Raw Input
**{data_filepath.name}**  original Lending Club accepted loans CSV (20072018 Q4).

---

## 2  Target Definition
| Label | Mapped `loan_status` values |
|-------|-----------------------------|
| **1** | Charged Off, Default, Late (1630 d), Late (31120 d), In Grace Period, Does-Not-Meet-Policy Charged Off |
| **0** | Fully Paid, Does-Not-Meet-Policy Fully Paid |

Other statuses were **dropped**.  
Default rate (train split): **{y_train.mean():.1%}**  
Class imbalance  **{imb_ratio}:1** (non-default : default)

---

## 3  Column Filtering (Leakage, PII)
* **Exact drops:** `loan_status`, `pymnt_plan`, `member_id`, `id`, `url`, `addr_state`, `zip_code`, `emp_title`, `title`, `desc`
* **Prefix drops:** any column that starts with  
  `last_`, `out_prncp`, `total_rec_`, `total_pymnt`, `recoveries`,  
  `collection_recovery_fee`, `funded_amnt_inv`, `hardship_`,  
  `debt_settlement_`, `settlement_`
* **Constant columns** (`nunique()==1`) removed.
* **High-missing flag rule:** if `train` NaN rate  **{na_thr:.0%}**, create `<col>_missing` indicator ( dtype int8 ).

_Post-filter dataframe shape:_ **{df.shape}**

---

## 4  Temporal Split (`issue_d`)
| Split | Date window               | Rows |
|-------|---------------------------|------|
| Train |  2016-12-31              | {len(X_train):,} |
| Val   | 2017-01-01  2017-12-31   | {len(X_val):,} |
| Test  |  2018-01-01              | {len(X_test):,} |

No random shuffling  ensures forward-looking evaluation.

---

## 5  Pre-processing Steps
### 5.1  Type casting & basic transforms
* **Percent to float**: `int_rate`, `revol_util`  divide by 100.  
* **Log1p**: `loan_amnt`, `annual_inc`, `revol_bal` to reduce skew.

### 5.2  Missing-value handling
* **Numeric** (`{len(schema['numeric'])}` cols)  median of *train* split.  
* **Categorical** (`{len(schema['categorical'])}` cols)  
  * NaNs  `"Missing"` level (added if absent).  
  * **Rare bucketing:** any level with < max(10, 0.1 %) occurrences in *train*  `"Other"`.

### 5.3  Feature Engineering
| Feature | Formula | Notes |
|---------|---------|-------|
| `credit_age_months` | `(issue_d  earliest_cr_line)//30` | Age of credit file |
| `loan_to_income` | `loan_amnt / (annual_inc+1)` | Ratio |
| `installment_to_income` | `installment / (annual_inc+1)` | Ratio |
| `fico_mid`, `fico_spread` | Midpoint & range of approval-time FICO | |
| `rev_util_ratio` | `revol_bal / (total_rev_hi_lim+1)` | |
| `dti_inv` | `1 / (dti+1e-3)` | Stabilised inverse |
| `inq_ratio` | `inq_last_12m / (open_acc+1)` | Hard-pull density |
| `int_minus_subgrade_mean` | `int_rate  mean(int_rate) within sub_grade` (calc **on train only**) | Removes grade-level bias |
| `grade_term` | concat(`grade`, `term`) | Categorical cross |
| `purpose_emp_len` | concat(`purpose`, `emp_length`) | High-card cat |
| `fico_mid_sq`, `log_loan_sq` | Squared versions for non-linearity |

Total feature count after engineering: **{df.drop(columns=['default']).shape[1]}**

---

## 6  Encoding & Data Types
* All categoricals kept as native **pandas `category`**  consumed directly by LightGBM.  
* No one-hot nor target-encoding currently applied (reserved for later versions).  

---

## 7  Saved Artefacts
| File | Purpose |
|------|---------|
| `lc_cleaned.parquet` | Full cleaned dataset (train + val + test) |
| `X_train.pkl`, `X_val.pkl`, `X_test.pkl` | Feature DataFrames |
| `y_train.csv`, `y_val.csv`, `y_test.csv` | Target vectors |
| `feature_schema.json` | Lists numeric / categorical columns |
| `README.md` | This manifest |

---

## 8  Reproducibility Guarantees
* **Leakage-proof**: all post-issuance columns removed _before_ split.  
* **Train-only statistics** for imputation & mean-subtractions.  
* **Monotonic date split** prevents future information bleed.  
* Every artefact versioned under `../data/processed/`. """ 

(processed / "README.md").write_text(readme, encoding="utf-8")
print("README.md updated ", (processed / 'README.md').resolve())

README.md updated  /Users/pranavrao/Documents/ai-ml-projects/github-repos/aura-xai-finrisk-llm/data/processed/README.md